h1(class="title is-3")=locale.step1_title
p=locale.step1_para1
  form(action="/signup/selectStudorg" method="POST")
    select(name="studorg" style="width: 40%;")
      each val, key in studorgs
        if val.ilmo_start.getTime() < new Date().getTime()
          option(value=val.id)=val.name
    br
    br
    input(type="submit" value=locale.next class="button")